/* $Id: threecol_25_50_25.css,v 1.1.2.1 2008/12/16 21:27:58 merlinofchaos Exp $ */
#panel-pti-title-bar { 
    width: 800px; 
}
#panel-pti-nav-bar { 
    width: 800px; 
}
#panel-pti-left-col {
    clear: left;
    float: left; 
    width: 200px; 
}
#panel-pti-subtitle-bar { 
    float: left; 
    clear: right;
    width: 600px; 
}
#panel-pti-spotlight {
    float: left; 
    width: 600px;
}
#panel-pti-spotlight.with-news {
    width: 450px;
}
#panel-pti-news {
    float: left; 
    width: 150px;
}
#panel-pti-main {
    float: left;
    width: 600px;
}
